.nav-link{
    font-size: 20px;
    font-weight: 600;
}
.nav-link:hover{
    color: #000 !important;
}
.navbar-brand {
    font-size: 26px;
    font-weight: 800;
}
.navbar-brand:hover{
    color: #000 !important;
}
.btn-padding{
    height: fit-content;
    color: white;

}
.bg-header{
    background-color: #2e2e30;
}